<h2 style="text-align: center">List</h2>
<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let cars of car|paginate : { itemsPerPage: 3, currentPage: p}; index as i">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/insta-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cars.licensePlates}}</h5>
          <p>Type : {{cars.type.name}}</p>
          <p>Name : {{cars.name}}</p>
          <p>Form : {{cars.departure.name}}</p>
          <p>To : {{cars.destination.name}}</p>
          <p>Phone : {{cars.phone}}</p>
          <p>Start : {{cars.startTime}}</p>
          <p>End : {{cars.endTime}}</p>
          <div>
            <a [routerLink]="['/update',cars.id]" class="btn btn-warning" style="float: left">Update</a>
            <button class="btn btn-danger" style="float: right" data-target="#deleteModal"
                    data-toggle="modal"
                    (click)="showMessage(cars.id,cars.licensePlates)">Delete
              <i class='bx bx-trash'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="justify-content: space-around;" class="mx-auto">
  <div>
    <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete {{nameToDelete}}
          <span class="text-danger font-weight-bold" id="nameDelete"></span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="mx-auto row">
          <input type="hidden" name="id" id="idDelete">
          <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger mx-1 " (click)="deleteModal()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal-->

