<!--create-->
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h2 style="text-align: center; color: blue">CREATE INFORMATION</h2>
      <form [formGroup]="createForm" (ngSubmit)="create()">
        <!-- Name input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example1">Name</label>
          <input type="text" id="form1Example1" class="form-control" formControlName="name"/>
                    <p style="color: red"
                       *ngIf="createForm.controls.name.hasError('required') && createForm.controls.name.touched">
                      Tên nhà xe không được để trống</p>
        </div>

        <!-- Type input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example2">Type</label>
          <select class="form-control" formControlName="type" id="form1Example2">
            <option disabled selected value="">Select</option>
            <option [ngValue]="type" *ngFor="let type of types">{{type.name}}</option>
          </select>
                    <p style="color: red"
                       *ngIf="createForm.controls.type.hasError('required') && createForm.controls.type.touched">
                      Loại xe không được để trống</p>
        </div>

        <!-- From input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example3">From</label>
          <select class="form-control" formControlName="departure" id="form1Example3">
            <option disabled selected value="">Select</option>
            <option [ngValue]="type" *ngFor="let type of from">{{type.name}}</option>
          </select>
                    <p style="color: red"
                       *ngIf="createForm.controls.departure.hasError('required') && createForm.controls.departure.touched">
                      Điểm đi không được để trống</p>
        </div>
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example4">To</label>
          <select class="form-control" formControlName="destination" id="form1Example4">
            <option disabled selected value="">Select</option>
            <option [ngValue]="type" *ngFor="let type of from">{{type.name}}</option>
          </select>
                    <p style="color: red"
                       *ngIf="createForm.controls.destination.hasError('required') && createForm.controls.destination.touched">
                      Điểm đến không được để trống</p>
        </div>

        <!-- Phone input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example5">Phone</label>
          <input type="text" id="form1Example5" class="form-control" formControlName="phone"/>
                    <p style="color: red"
                       *ngIf="createForm.controls.phone.hasError('required') && createForm.controls.phone.touched">
                      Số điện thoại không được để trống</p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example6">Email</label>
          <input type="text" id="form1Example6" class="form-control" formControlName="email"/>
          <p style="color: red"
             *ngIf="createForm.controls.email.hasError('required') && createForm.controls.email.touched">
            Email không được để trống</p>
                    <p style="color: red" *ngIf="createForm.controls.email.hasError('email') && createForm.controls.email.touched">
                      Nhập sai định dạng email</p>
        </div>

        <!-- Start input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example7">Start</label>
          <input type="time" id="form1Example7" class="form-control" formControlName="startTime"/>
                    <p style="color: red"
                       *ngIf="createForm.controls.startTime.hasError('required') && createForm.controls.startTime.touched">
                      Thời gian đi không được để trống</p>
        </div>

        <!-- End input -->
        <div class="form-outline mb-3">
          <label class="form-label" for="form1Example8">End</label>
          <input type="time" id="form1Example8" class="form-control" formControlName="endTime"/>
                    <p style="color: red"
                       *ngIf="createForm.controls.endTime.hasError('required') && createForm.controls.endTime.touched">
                      Thời gian đến không được để trống</p>
        </div>
        <br>

        <br>
        <!-- Submit button -->
        <div class="container col-5">
          <button type="submit" class="btn btn-info btn-block" style="width: 200px">Update</button>
        </div>
      </form>
      <h2 style="color: white">----</h2>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<!--create-->
