<!--&lt;!&ndash;create&ndash;&gt;-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-3"></div>-->
<!--    <div class="col-6">-->
<!--      <h2 style="text-align: center">Create new Facility</h2>-->
<!--      <form [formGroup]="facilityForm" (ngSubmit)="facilitySubmit()">-->
<!--        &lt;!&ndash; Name faclity input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example1">Name Facility</label>-->
<!--          <input type="text" id="form1Example1" class="form-control" formControlName="serviceName"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.serviceName.hasError('required') && facilityForm.controls.serviceName.touched">-->
<!--            Tên dịch vụ không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Area input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example2">Area</label>-->
<!--          <input type="text" id="form1Example2" class="form-control" formControlName="serviceArea"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.serviceArea.hasError('required') && facilityForm.controls.serviceArea.touched">-->
<!--            Diện tích không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Price input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example3">Price</label>-->
<!--          <input type="text" id="form1Example3" class="form-control" formControlName="serviceCost"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.serviceCost.hasError('required') && facilityForm.controls.serviceCost.touched">-->
<!--            Giá không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Peoples input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example4">Peoples</label>-->
<!--          <input type="text" id="form1Example4" class="form-control" formControlName="serviceMaxPeople"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.serviceMaxPeople.hasError('required') && facilityForm.controls.serviceMaxPeople.touched">-->
<!--            số người không được để trống</p>-->

<!--        </div>-->

<!--        &lt;!&ndash; Standard input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example5">Standard</label>-->
<!--          <input type="text" id="form1Example5" class="form-control" formControlName="standardRoom"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.standardRoom.hasError('required') && facilityForm.controls.standardRoom.touched">-->
<!--            Tiêu chuẩn không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Detail input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example6">Detail</label>-->
<!--          <input type="text" id="form1Example6" class="form-control" formControlName="descriptionOtherConvenience"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.descriptionOtherConvenience.hasError('required') && facilityForm.controls.descriptionOtherConvenience.touched">-->
<!--            Dịch vụ đi kèm không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Pool Area input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example7">Pool Area</label>-->
<!--          <input type="text" id="form1Example7" class="form-control" formControlName="poolArea"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.poolArea.hasError('required') && facilityForm.controls.poolArea.touched">Diện-->
<!--            tích hồ bơi không được để trống</p>-->
<!--        </div>-->

<!--        &lt;!&ndash; Floor input &ndash;&gt;-->
<!--        <div class="form-outline mb-3">-->
<!--          <label class="form-label" for="form1Example8">Floor</label>-->
<!--          <input type="text" id="form1Example8" class="form-control" formControlName="numberOfFloor"/>-->
<!--          <p style="color: red"-->
<!--             *ngIf="facilityForm.controls.numberOfFloor.hasError('required') && facilityForm.controls.numberOfFloor.touched">-->
<!--            Số tầng không được để trống</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          &lt;!&ndash; TypeRent input &ndash;&gt;-->
<!--          <select  formControlName="rentType" class="form-control"-->
<!--          >-->
<!--            <option disabled selected value="">Choose Rent City</option>-->
<!--            <option *ngFor="let r of rentType" [ngValue]="r" >{{r.type}}</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <br>-->
<!--        &lt;!&ndash; CodeService input &ndash;&gt;-->
<!--        <div>-->
<!--          &lt;!&ndash; TypeRent input &ndash;&gt;-->
<!--          <select  formControlName="facilityDetail" class="form-control"-->
<!--          >-->
<!--            <option disabled selected value="">Choose Facility City</option>-->
<!--            <option *ngFor="let f of facility" [ngValue]="f" >{{f.type}}</option>-->
<!--          </select>-->
<!--        </div>-->

<!--        <br>-->
<!--        &lt;!&ndash; Submit button &ndash;&gt;-->
<!--        <div class="container col-5">-->
<!--          <button type="submit" class="btn btn-info btn-block" style="width: 200px">Create New Facility</button>-->
<!--        </div>-->
<!--      </form>-->
<!--      <h2 style="color: white">&#45;&#45;&#45;&#45;</h2>-->
<!--    </div>-->
<!--    <div class="col-3"></div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;create&ndash;&gt;-->
create
